 <mat-card class='card'>
    <mat-card-header>
      <div mat-card-avatar class='header-image'></div>
      <mat-card-title>{{SimpleData.title}}</mat-card-title>
      <mat-card-subtitle>
        Episode {{SimpleData.episodeId}}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-spinner [diameter]='200' *ngIf='!MovieInformation'></mat-spinner>

    <img *ngIf='MovieInformation' mat-card-image src='{{MovieInformation.posterUrl}}'
      alt='Poster from the movie {{SimpleData.title}}'>

    <mat-card-content>
      <p class='align-center'>
        {{!MovieInformation? '': MovieInformation.openingCrawl}}
      </p>
    </mat-card-content>

    <mat-card-actions>
      <a mat-raised-button [routerLink]=[CardRoute]>Know more about this movie</a>
    </mat-card-actions>
  </mat-card>
