<mat-card class='example-card'>

  <mat-card-header>
    <div mat-card-avatar class='example-header-image'></div>
    <mat-card-title>{{MovieTitle}}</mat-card-title>
    <mat-card-subtitle>
      Episode {{MovieID}}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-spinner [diameter]='200' *ngIf='!MovieInformation'></mat-spinner>

  <img *ngIf='MovieInformation' mat-card-image src='https://material.angular.io/assets/img/examples/shiba2.jpg'
    alt='Poster from the movie {{MovieTitle}}'>

  <mat-card-content>
    <p class='align-center'>
      {{!MovieInformation? '': MovieInformation.openingCrawl}}
    </p>
  </mat-card-content>

  <mat-card-actions>
      <a mat-raised-button [routerLink]="[ '/movie', MovieID ]">Know more</a>
  </mat-card-actions>
</mat-card>
